<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <title>Rozpoznaj dominantę</title>
    <style>
      .strikethrough {
        position: relative;
      }
      .strikethrough:before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        right: 0;
        border-top: 1px solid;
        border-color: inherit;

        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .dominant {
        font-size: 3em;
      }
      .root-note {
        text-align: center;
      }
    </style>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script>
      var socket = io()
      let chordType = null
      let chordRoot = null
      function setDominantType(el) {
        document.getElementById("user-answer").innerHTML = el.innerHTML
        chordType = el.id
        console.log(chordType)
      }
      function setDominantRoot(el) {
        chordRoot = el.id.substr(4)
        console.log(chordType)
        console.log(chordRoot)

        if (document.getElementById("user-answer").innerHTML != "") {
          const span = document
            .getElementById("user-answer")
            .getElementsByClassName("root-note")[0]
          span.innerHTML = el.innerHTML
        } else {
          document.getElementById("user-answer").innerHTML = el.innerHTML
        }
      }
      function answer() {
        socket.emit("answer", { chordType, chordRoot })
      }
      function play() {
        if (!document.getElementById("sound").src) {
          socket.emit("play")
        }
        document.getElementById("sound").play()
      }
      function returnAnswer(data) {
        console.log(data)
        document.getElementById("correct-answer").innerHTML =
          document.getElementById(data["chord_type"]).innerHTML
        const span = document
          .getElementById("correct-answer")
          .getElementsByClassName("root-note")[0]
        span.innerHTML = document.getElementById(data["chord_root"]).innerHTML
        document.getElementById("next").style.display = "block"
        document.getElementById("correct").style.display = "block"
      }
      function next() {
        socket.emit("next")
        document.getElementById("correct").style.display = "none"
        document.getElementById("next").style.display = "none"
        document.getElementById("user-answer").innerHTML = ""
      }
      socket.on("answer_returned", function (data) {
        returnAnswer(data)
      })
      socket.on("play_returned", function (data) {
        document.getElementById("sound").src = data["audio_b64"]
      })
      window.onload = function () {
        for (let x of document.getElementsByClassName("dominant-type")) {
          x.onclick = function () {
            setDominantType(x)
          }
        }
        for (let x of document.getElementsByClassName("root")) {
          x.onclick = function () {
            setDominantRoot(x)
          }
        }
        document.getElementById("confirm").onclick = answer
        document.getElementById("play").onclick = play
        document.getElementById("next").onclick = next
        document.getElementById("correct").style.display = "none"
      }
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Rozpoznaj dominantę</h1>
          <button class="btn btn-warning" id="play">Odtwórz</button>
          <audio id="sound">
            The audio tag is not supported by your browser.
          </audio>
          <h3>Wybierz rodzaj dominanty:</h3>
          <div>
            <button class="btn btn-primary dominant-type" id="D7">
              <table>
                <tr>
                  <td rowspan="2"><span class="dominant">D</span></td>
                  <td>7</td>
                </tr>
                <tr>
                  <td>&nbsp</td>
                </tr>
                <tr>
                  <td class="text-center"><span class="root-note"></span></td>
                </tr>
              </table>
            </button>
            <button class="btn btn-primary dominant-type" id="D9">
              <table>
                <tr>
                  <td rowspan="2"><span class="dominant">D</span></td>
                  <td>9</td>
                </tr>
                <tr>
                  <td>&nbsp</td>
                </tr>
                <tr>
                  <td class="text-center"><span class="root-note"></span></td>
                </tr>
              </table>
            </button>
            <button class="btn btn-primary dominant-type" id="D9b">
              <table>
                <tr>
                  <td rowspan="2"><span class="dominant">D</span></td>
                  <td>9></td>
                </tr>
                <tr>
                  <td>&nbsp</td>
                </tr>
                <tr>
                  <td class="text-center"><span class="root-note"></span></td>
                </tr>
              </table>
            </button>
            <button class="btn btn-primary dominant-type" id="D7no1">
              <table>
                <tr>
                  <td rowspan="2"><span class="dominant">D</span></td>
                  <td>7</td>
                </tr>
                <tr>
                  <td><span class="strikethrough">1</span></td>
                </tr>
                <tr>
                  <td class="text-center"><span class="root-note"></span></td>
                </tr>
              </table>
            </button>
            <button class="btn btn-primary dominant-type" id="D9no1">
              <table>
                <tr>
                  <td rowspan="2"><span class="dominant">D</span></td>
                  <td>9</td>
                </tr>
                <tr>
                  <td><span class="strikethrough">1</span></td>
                </tr>
                <tr>
                  <td class="text-center"><span class="root-note"></span></td>
                </tr>
              </table>
            </button>
            <button class="btn btn-primary dominant-type" id="D9bno1">
              <table>
                <tr>
                  <td rowspan="2"><span class="dominant">D</span></td>
                  <td>9></td>
                </tr>
                <tr>
                  <td><span class="strikethrough">1</span></td>
                </tr>
                <tr>
                  <td class="text-center"><span class="root-note"></span></td>
                </tr>
              </table>
            </button>
            <button class="btn btn-primary dominant-type" id="D6b">
              <table>
                <tr>
                  <td rowspan="3"><span class="dominant">D</span></td>
                  <td>7</td>
                </tr>
                <tr>
                  <td>6></td>
                </tr>
                <tr>
                  <td><span class="strikethrough">5</span></td>
                </tr>
                <tr>
                  <td class="text-center"><span class="root-note"></span></td>
                </tr>
              </table>
            </button>
            <button class="btn btn-primary dominant-type" id="D6">
              <table>
                <tr>
                  <td rowspan="3"><span class="dominant">D</span></td>
                  <td>7</td>
                </tr>
                <tr>
                  <td>6</td>
                </tr>
                <tr>
                  <td><span class="strikethrough">5</span></td>
                </tr>
                <tr>
                  <td class="text-center"><span class="root-note"></span></td>
                </tr>
              </table>
            </button>
          </div>
          <h3>Wybierz składnik w basie:</h3>
          <div>
            <button class="btn btn-primary root" id="root1">1</button>
            <button class="btn btn-primary root" id="root3">3</button>
            <button class="btn btn-primary root" id="root5">5</button>
            <button class="btn btn-primary root" id="root7">7</button>
            <button class="btn btn-primary root" id="root9">9</button>
            <button class="btn btn-primary root" id="root9b">9></button>
          </div>
          <h3>Twoja odpowiedź:</h3>
          <div class="card" style="width: 100px">
            <div class="card-body">
              <div id="user-answer"></div>
            </div>
          </div>
          <button class="btn btn-success" id="confirm">Zatwierdź</button>
          <div id="correct">
            <h3>Prawidłowa odpowiedź:</h3>
            <div class="card" style="width: 100px">
              <div class="card-body">
                <div id="correct-answer"></div>
              </div>
            </div>
          </div>
          <button class="btn btn-success" id="next">Dalej</button>
        </div>
      </div>
    </div>
  </body>
</html>
